In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", 100)

In [2]:
#read in csv & display
wego = pd.read_csv('../data/headway_data_clean.csv')
wego

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,NextDay_Scheduled,NextDay_Actual_Arrival,NextDay_Actual_Departure
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,MHSP,14.0,1,36.181248,-86.847705,2023-08-01 04:42:00,2023-08-01 04:37:38,2023-08-01 04:44:08,-2.133333,NaN,NaN,NaN,0,0,1,0,0.0,0,2,6.500000,0,0,0
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,2023-08-01 04:46:00,2023-08-01 04:48:27,2023-08-01 04:48:27,-2.450000,NaN,NaN,NaN,0,0,1,0,0.0,0,9,0.000000,0,0,0
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,2023-08-01 04:54:00,2023-08-01 04:54:56,2023-08-01 04:54:56,-0.933333,NaN,NaN,NaN,0,0,1,0,0.0,0,19,0.000000,0,0,0
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,2023-08-01 05:10:00,2023-08-01 05:03:43,2023-08-01 05:03:43,6.283333,NaN,NaN,NaN,0,0,1,0,NaN,0,35,0.000000,0,0,0
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,2023-08-01 05:15:00,2023-08-01 05:03:43,2023-08-01 05:16:35,-1.583333,NaN,NaN,NaN,0,0,1,0,0.0,0,36,12.866666,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350323,120230930,2,100406610,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,21BK,4.0,0,36.138372,-86.800622,2023-09-30 22:23:00,2023-09-30 22:31:26,2023-09-30 22:31:26,-8.433333,30.0,35.266666,5.266666,0,1,0,0,0.0,0,539,0.000000,0,0,0
350324,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,-86.781923,2023-09-30 22:38:00,2023-09-30 22:49:18,2023-09-30 22:49:18,-11.300000,NaN,NaN,NaN,0,1,0,0,NaN,0,551,0.000000,0,0,0
350325,120230930,2,100406612,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,MCC5_9,3.0,1,36.167091,-86.781923,2023-09-30 22:45:00,2023-09-30 22:49:19,2023-09-30 22:49:19,-4.316666,30.0,31.866666,1.866666,0,0,1,0,0.0,0,552,0.000000,0,0,0
350326,120230930,2,100406613,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,21BK,4.0,0,36.138881,-86.800622,2023-09-30 22:59:00,2023-09-30 23:21:05,2023-09-30 23:21:05,-22.083333,30.0,47.500000,17.500000,0,1,0,0,0.0,0,563,0.000000,0,0,0
350327,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,HBHS,5.0,2,36.107575,-86.812719,2023-09-30 23:11:00,2023-09-30 23:31:27,2023-09-30 23:34:40,-23.666666,NaN,NaN,NaN,0,1,0,0,NaN,0,577,3.216666,0,0,0

In [3]:
wego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350328 entries, 0 to 350327
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CALENDAR_ID                350328 non-null  int64
 1   SERVICE_ABBR               350328 non-null  int64
 2   ADHERENCE_ID               350328 non-null  int64
 3   DATE                       350328 non-null  object
 4   ROUTE_ABBR                 350328 non-null  int64
 5   BLOCK_ABBR                 350328 non-null  int64
 6   OPERATOR                   350328 non-null  int64
 7   TRIP_ID                    350328 non-null  int64
 8   OVERLOAD_ID                350328 non-null  int64
 9   ROUTE_DIRECTION_NAME       350328 non-null  object
 10  TIME_POINT_ABBR            350328 non-null  object
 11  ROUTE_STOP_SEQUENCE        350317 non-null  float64
 12  TRIP_EDGE                  350328 non-null  int64
 13  LATITUDE                   350328 non-null  float64
 14  LONGITUDE                  350328 non-null  float64
 15  SCHEDULED_TIME             350328 non-null  object
 16  ACTUAL_ARRIVAL_TIME        338869 non-null  object
 17  ACTUAL_DEPARTURE_TIME      338860 non-null  object
 18  ADHERENCE                  338860 non-null  float64
 19  SCHEDULED_HDWY             274737 non-null  float64
 20  ACTUAL_HDWY                266061 non-null  float64
 21  HDWY_DEV                   265892 non-null  float64
 22  ADJUSTED_EARLY_COUNT       350328 non-null  int64
 23  ADJUSTED_LATE_COUNT        350328 non-null  int64
 24  ADJUSTED_ONTIME_COUNT      350328 non-null  int64
 25  STOP_CANCELLED             350328 non-null  int64
 26  PREV_SCHED_STOP_CANCELLED  279999 non-null  float64
 27  IS_RELIEF                  350328 non-null  int64
 28  BLOCK_STOP_ORDER           350328 non-null  int64
 29  DWELL_IN_MINS              338857 non-null  float64
 30  NextDay_Scheduled          350328 non-null  int64
 31  NextDay_Actual_Arrival     350328 non-null  int64
 32  NextDay_Actual_Departure   350328 non-null  int64
dtypes: float64(9), int64(18), object(6)
memory usage: 88.2+ MB

In [12]:
#select relevant rows
wego_stops= wego[['CALENDAR_ID','ROUTE_ABBR','BLOCK_ABBR','TIME_POINT_ABBR','ROUTE_STOP_SEQUENCE','LATITUDE', 'LONGITUDE']]
wego_stops

,CALENDAR_ID,ROUTE_ABBR,BLOCK_ABBR,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,LATITUDE,LONGITUDE
0,120230801,22,2200,MHSP,14.0,36.181248,-86.847705
1,120230801,22,2200,ELIZ,10.0,36.193454,-86.839981
2,120230801,22,2200,CV23,5.0,36.182177,-86.814445
3,120230801,22,2200,MCC5_10,1.0,36.167091,-86.781923
4,120230801,22,2200,MCC5_10,1.0,36.167091,-86.781923
...,...,...,...,...,...,...,...
350323,120230930,7,702,21BK,4.0,36.138372,-86.800622
350324,120230930,7,702,MCC5_9,3.0,36.167091,-86.781923
350325,120230930,7,702,MCC5_9,3.0,36.167091,-86.781923
350326,120230930,7,702,21BK,4.0,36.138881,-86.800622
350327,120230930,7,702,HBHS,5.0,36.107575,-86.812719

Get counts of unique values for the columns

In [13]:
wego_stops['TIME_POINT_ABBR'].nunique()

61

In [14]:
wego_stops['LATITUDE'].nunique()

74

In [15]:
wego_stops['LONGITUDE'].nunique()

73

In [16]:
wego_stops['ROUTE_ABBR'].nunique()

8

In [17]:
wego_stops['ROUTE_STOP_SEQUENCE'].nunique()

17

Looks like there is probably some overlap between LAT/LONG and TIME_POINT_ABBR

Groupby to sort by lat/long and get counts of TIME_POINT_ABBR

In [18]:
locations = wego_stops.groupby(["LATITUDE", "LONGITUDE", "TIME_POINT_ABBR"]).size()

print(locations)

LATITUDE   LONGITUDE   TIME_POINT_ABBR
36.048934  -86.713854  HCKP                4635
36.052637  -86.654878  HHWM               10194
36.069342  -86.933604  BRCJ                2132
36.069474  -86.933429  BRCJ                2048
36.071990  -86.636496  MXBELL              5108
                                          ...
36.256567  -86.714100  GXMADISO            4992
36.257412  -86.714068  GXMADISO            4972
36.300470  -86.695610  GXRVRGAT            9962
36.300827  -86.694508  GXRVRGAT            4992
36.307973  -86.685963  SAMS                4992
Length: 89, dtype: int64

That is a little too vague so new approach:
apply lambda to get unique lat/long for each TIME_POINT_ABBR

In [22]:
timepoints = wego_stops.groupby("TIME_POINT_ABBR").apply(lambda x: x[["LATITUDE", "LONGITUDE"]].drop_duplicates())
print(timepoints)

                       LATITUDE  LONGITUDE
TIME_POINT_ABBR
21BK            2124  36.138372 -86.800622
                6135  36.138881 -86.800622
25ACLARK        315   36.186350 -86.816998
28&CHARL        2130  36.153870 -86.818414
                2133  36.154039 -86.818055
...                         ...        ...
WHBG            2128  36.149997 -86.858261
                2135  36.150052 -86.858652
WMRT            2901  36.082032 -86.726914
                2908  36.082309 -86.727340
YGKG            42    36.203239 -86.840636

[89 rows x 2 columns]

Looks a little more manageable. Will need to try some geospatial stuff possibly to see if these lat/long pairs are similar/same for each time_point_abbr